@import "tailwindcss";
.tiptap h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

.tiptap h2 {
  font-size: 1.875rem;
  font-weight: 600;
}

.tiptap h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.tiptap h4 {
  font-size: 1.25rem;
}

.tiptap h5 {
  font-size: 1.125rem;
}

.tiptap h6 {
  font-size: 1rem;
}

.tiptap ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.tiptap ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.tiptap li {
  margin: 0.25rem 0;
}



.tiptap p {
  margin: 0.4rem 0;
}